<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezairport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".McDFoods"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".CoffeeActivity" />
        <activity android:name=".FoodBeverages" />
        <activity android:name=".FloralActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".Expedia_Hotel" />
        <activity android:name=".Book_Hotel" />
        <activity android:name=".AfterTour" />
        <activity android:name=".TourActivity" />
        <activity android:name=".KFCFoods"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PlaceOrder_McD" />
        <activity android:name=".PlaceOrder" />
        <activity android:name=".MoodCheck" />
        <activity android:name=".Stat_McD" />
        <activity android:name=".Menu_McD" />
        <activity android:name=".MdDonalds" />
        <activity android:name=".Stat_KFC" />
        <activity android:name=".Menu_KFC" />
        <activity android:name=".KFCActivity" />
        <activity android:name=".FlightBooking" />
        <activity android:name=".MakemyTrip" />
        <activity android:name=".MeruActivity" />
        <activity android:name=".Goibibo" />
        <activity android:name=".Google_Maps" />
        <activity android:name=".Yatra" />
        <activity android:name=".Ola_Cabs" />
        <activity android:name=".Prediction_Time" />
        <activity android:name=".ThreeDimensional" />
        <activity android:name=".Book_Flight" />
        <activity android:name=".Baggage_Tracker" />
        <activity android:name=".Book_Transport" />
        <activity android:name=".Best_Stores" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Registration_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>